<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>ManageIT - Task Manager API</title>
  </head>
  <body>
    <div class="container" style="margin-top:50px;">
        <span style="text-align:center;"><h3>This is a Simple API Documentation</h3></span>
        <br>
        <h4>Users Routes</h4>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Request Type</th>
                <th scope="col">Route</th>
                <th scope="col">Description</th>
                <th scope="col">Header Content</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>POST</td>
                <td>/users</td>
                <td>Create or Sign Up new users</td>
                <td>None</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>POST</td>
                <td>/users/login</td>
                <td>Login Users</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>POST</td>
                <td>/users/logout</td>
                <td>Logout Users removing current token</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>POST</td>
                <td>/users/logoutAll</td>
                <td>Logout Users remiving all tokens </td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>GET</td>
                <td>/users/me</td>
                <td>Fetch User Profile</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">6</th>
                <td>PATCH</td>
                <td>/users/me</td>
                <td>Update Users Profile Details</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">7</th>
                <td>DELETE</td>
                <td>/users/me</td>
                <td>Remove Users Account</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">8</th>
                <td>POST</td>
                <td>/users/me/avatar</td>
                <td>Upload Users Profile Image</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">9</th>
                <td>DELETE</td>
                <td>/users/me/avatar</td>
                <td>Remove Users Profile Image</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">10</th>
                <td>GET</td>
                <td>/users/id/avatar</td>
                <td>Fetch Users Profile Image</td>
                <td>None</td>
              </tr>
            </tbody>
        </table>
        <br>
        <h4>Tasks Routes</h4>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Request Type</th>
                <th scope="col">Route</th>
                <th scope="col">Description</th>
                <th scope="col">Header Content</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>GET</td>
                <td>/tasks</td>
                <td>Fetch All the tasks of the current user</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">1.1</th>
                <td>GET</td>
                <td>/tasks?completed=true</td>
                <td>Fetch all the completed tasks of the current user. Use false for incompleted task</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">1.2</th>
                <td>GET</td>
                <td>/tasks?limit=10&skip=20</td>
                <td>Fetch limited tasks of the current user</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">1.3</th>
                <td>GET</td>
                <td>/tasks?sortBy=createdAt:desc</td>
                <td>Fetch tasks of the current user in ascending (asc) or descending (desc) order.</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>POST</td>
                <td>/tasks</td>
                <td>Add new tasks</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>GET</td>
                <td>/tasks/id</td>
                <td>Fetch particular task of the current user</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>PATCH</td>
                <td>/tasks/id</td>
                <td>Update a particular task</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
              <tr>
                <th scope="row">5</th>
                <td>DELETE</td>
                <td>/tasks/id</td>
                <td>Delete a particular task</td>
                <td>Key-Authorization Value-Bearer JWTTokenVALUE</td>
              </tr>
            </tbody>
        </table>
        <br>
        <h4>User Model</h4>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Name/Value Pairs</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>String</td>
                <td>"name":"fullName"</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>String</td>
                <td>"email":"example@email.com"</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>String</td>
                <td>"password":"anyPassword"</td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td>Number</td>
                <td>"age":optional</td>
              </tr>
            </tbody>
        </table>
        <br>
        <h4>Task Model</h4>
        <table class="table table-hover table-dark">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Type</th>
                <th scope="col">Name/Value Pairs</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>String</td>
                <td>"description":"fullTaskDescription"</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>Boolean</td>
                <td>"completed":true</td>
              </tr>
            </tbody>
        </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>